.navigation-bar
{
    top:0px;
    background-color: #fff;
    box-shadow: 0 1px 10px #000;
}

.error-500-container
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-500-container h3 
{
    color: #3ab3f1;
}
.error-500-container h3 span
{
    color: #ff0011;
}

.error-500-container p
{
    max-width: 510px;
    color: #777;
    padding: 10px;
}